@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 100vw;

	font-size: 1.2rem;
	font-family: "Montserrat", sans-serif;

	margin-top: 15px;
	overflow-x: hidden;
}

canvas {
	box-shadow: #ccc 0px 0px 30px;
}

div {
	margin-bottom: 15px;
}

#title {
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: #AA55AA;
	text-shadow: #ccc 0px 0px 10px;
}
.help{
	color: #556;
	font-size: 1.1rem;

}

hr {
	width: 10%;
	height: 2px;
	border: none;
	background-color: #AAB;
}